<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Isabel's Blog</title>
</head>

<body>

	<h1>Welcome to Isabel's Blog</h1>

	<form method ="POST" action = "/create"> {% csrf_token %}
		<input type ="text" name ="title" placeholder = "write title here">
		<textarea name = "content" placeholder = "What's on your mind"></textarea>
		<button type = "Submit">Submit</button>


	</form>
	<ol>
		{% for post in posts %}
		<li>
			<h2>{{post.title}}</h2>
			<h3>{{post.created}}</h3>
			<p>{{post.content | linebreaks }}</p>
		</li>	

		{% endfor %}
	</ol>


</body>